@supports(grid-area:auto){

.site{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto 500px auto 400px 400px auto auto auto auto auto auto;
  grid-template-areas:
    'nv nv nv nv nv nv'
    '. by by by by .'
    '. intro intro intro intro .'
    '. map map map map .'
    '. chart chart chart chart .'
    '. info info info info .'
    '. info2 info2 info2 info2 .'
    '. budget-head budget-head budget-head budget-head .'
    '. budget budget budget budget .'
    '. art-head art-head art-head art-head .'
    '. art art art art .'
    '. src src src src .';
    grid-gap:0.5em;
    font-family: Helvetica;

}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax {
    /* The image used */
    background-image: url("../img/parallax2.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav{
  grid-area: nv;
  margin-bottom: -10px;
}

.byline{
  grid-area:by;
  font-size: 15px;
}

#intro{
  grid-area: intro;
  margin-top: 30px;
  margin-bottom: 15px;
}

#map{
  grid-area:map;
  background: #ddcc;
  height:100%;
}

#info-section{
  grid-area: info;
  background: #ddcc;
}

#chart{
  grid-area: chart;
  padding-bottom: 10px;
}

#info-section2{
  grid-area: info2;
  background: #dddddd;
}

.budget-head{
  grid-area: budget-head;
}

#budget{
  grid-area: budget;
  background: #dddddd;
}

.art-head{
  grid-area:art-head;
}

#articles{
  grid-area:art;
}

.sources{
  grid-area:src;
}

a{
  text-decoration: none;
  color: #000000;

}

.latest-news{
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;

}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height:auto;
  margin-right: 10px;

}

.text{
  flex-basis: 80%;
}

.hidden {
    display: none;
}

#destinations{
    background-color: #254F73;
    color: white;
    padding: 16px;
    font-size: 14px;
}

.city{
  font-size: 16px;
  color:black;
}

.city-map{
  grid-area:city;
}

/*Sets Mobile Display*/
@media screen and (max-width:767px){

  .site{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 500px auto 400px 400px auto auto auto auto auto auto;
    grid-template-areas:
      'nv'
      'by'
      'intro'
      'map'
      'chart'
      'info'
      'info2'
      'budget-head'
      'budget'
      'art-head'
      'art'
      'src';
      grid-gap:0.5em;
  }

  #articles{
    font-size:8px;
  }

.byline{
  font-size:8px;
}


} /*Closes Media Query*/
